body {
  font-family: "Arial";
  background-color: #142634;
  color: #DBC7C1;
}
div.podcast {
  float: left;
  width: 450px;
}
div.episodes {
  margin-top: 200px;
}
div.episode {
  float: left;
  width: 3in;
  height: 2in;
  display: inline-block;
}
div.fullwidth {
  float: left;
  width: 100%;
}
div.titleheader {
  float: left;
  position: fixed;
  background-color: #0d324c;
  padding: 20px;
  top:0;
  left: 0;
  width: 100%;
  height: 120px;
}
div.homelink {
  float: left;
  width: 25%;
  display: inline-block;
}
div.audiometer {
  /*float: right;*/
  width: 75%;
  display: inline-block;
}
audio {
  width: 75%;
}
h1 {
  color: #DBC7C1;
}
img.podcast {
  width: 400px;
  height: 400px;
  margin: 10px;
}
h2.podcast_title {
  height: 30px;
  margin-bottom: 30px;
}