body {
  font-family: Arial;
  background-color: #142634;
  color: #DBC7C1;
}
div.podcast {
  float: left;
  width: 100%;
}
div.episode {
  float: left;
  width: 3in;
  display: inline-block;
}
div.fullwidth {
    float: left;
    width: 100%;
}
div.titleheader {
    float: left;
}
div.audiometer {
    float: right;
    width: 6in;
    display: inline-block;
}
audio {
  width: 100%;
}