<!DOCTYPE html>
<html>
<head>
<title>JUMBOTRON</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script type="text/javascript" src="/js/general.js"></script>
</head>
<body>

<div class="fullwidth">
  <h1>JUMBOTRON</h1>
  <hr>
</div>

% for podcast in podcasts:
<div class="podcast">
  <h2 class="podcast_title">{{ podcast['title'] }}</h2>
  <a href="/podcasts/{{ podcast['pid'] }}">
    <img src="{{ podcast['image_link'] }}" width="400" height="400" class="podcast">
  </a>
</div>
% end

</body>
</html>
