<!DOCTYPE html>
<html>
<head>
<title>JUMBOTRON</title>
<style type="text/css">
body {
  font-family: Arial;
}
div.podcast {
  float: left;
  width: 100%;
}
div.episode {
  float: left;
  width: 3in;
  display: inline-block;
}
</style>
<script type="text/javascript">
  // button_replace()
function button_replace(inid) {
  document.getElementById(inid).innerHTML = '<audio controls><source src=\"' + inid + '\" type="audio/mpeg"></audio>';
  return;
}
</script>
</head>
<body>

<h1>JUMBOTRON</h1>
<hr>
% for podcast in podcasts:
<div class="podcast">
  <h2>{{ podcast["title"] }}</h2>


  % for episode in podcast["episodes"][:4]:
  <div class="episode">
    <table>
      <tr><th>Title</th><td>{{ episode["title"] }}</td></tr>
<!--     <tr><th>Description</th><td>{{ episode["description"] }}</td></tr> -->
      <tr><th>Date</th><td>{{ episode["pubDate"] }}</td></tr>
      <tr><th>Link</th><td id='{{ episode["link"] }}'><button onmouseup="button_replace('{{episode['link']}}')">Load</button></td></tr>
<!--       <tr><th>Episode</th><td>{{ episode["guid"] }}</td></tr> -->
    </table>
  </div>
  % end

</div>
% end

</body>
</html>
